body{
    background-color: rgb(29, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.LinkFormat{
    text-decoration: none;
    color: white;
}

.StartPageText{
    color: white;
    text-align: center;
    margin-top: 200px;
}

.JoinButtonFAKE{
    color: white;
    text-align: center;
    font-size: 250px;
    margin-top: 100px;
}
